<table class="styleBorderSolid border w-full m-1">
  <thead>
    <tr>
      @for (cell of dataTable.thead; track cell) {
        <th class="styleTD">{{cell}}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of dataTable.tbody; track row) {
      <tr>
        @for (cell of row; track cell) {
          <td class="styleTD">
            @if (isString(cell)) {
              {{cell}}
            } @else if (isTable(cell)) {
              <app-table [dataTable]="cell"></app-table>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>