@tailwind base;
@tailwind components;
@tailwind utilities;

.styleBody{
  @apply text-black bg-white dark:text-white dark:bg-zinc-900 top-0 left-0 m-0
}

.styleHeader{
  @apply styleBorderSolid border-b shadow-sm shadow-gray-500 dark:shadow-gray-300 flex flex-row justify-between p-2 fixed w-full bg-white dark:bg-zinc-900 z-0 top-0 left-0 m-0
}

.styleBorderSolid{
  @apply border-solid border-black dark:border-white
}

.styleBackWind{
  @apply fixed left-0 top-0 m-0 bg-white/30 dark:bg-black/30 w-full h-[100vh]
}

.styleLinkMenu{
  @apply flex flex-row gap-x-2 items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
}

.styleLabel{
  @apply block mt-2 font-medium text-gray-900 dark:text-white
}

.styleField{
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.styleFileInput{
  @apply block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
}

.styleTextarea{
  @apply block p-2.5 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.styleBut{
  @apply rounded-lg py-2 px-4 border-b-4 flex flex-row justify-center text-center items-center bg-blue-600 border-solid border-blue-950 text-white dark:bg-green-800 dark:border-green-900 dark:text-white active:border-0 active:mt-1
}

.styleSelect{
  @apply block w-full px-4 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.styleRadio{
  @apply w-6 h-6 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600
}

.styleTD{
  @apply border-2 styleBorderSolid p-1
}

.styleDetails{
  @apply styleBorderSolid p-3 mx-2
}

.styleWindNotify{
  @apply fixed top-1 right-1 border styleBorderSolid !border-white rounded-lg flex flex-col text-white
}

::-webkit-scrollbar {
  @apply bg-transparent w-1
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl w-1 border-2 border-solid border-black dark:border-white
}