<div class="flex flex-col gap-y-5 m-5">
  @if (recentActionLinks.length > 0) {
    <div class="flex flex-row justify-between">
      <span class="text-2xl">Recent Action</span>
      <button class="styleBut" (click)="clearRecentLink()">Clear</button>
    </div>

    <div class="flex flex-row flex-wrap gap-4">
      @for (link of recentActionLinks; track link) {
        <div class="styleLinkBlock w-[200px]" (click)="redirToLink(link.url); saveLink(link)">
          <div class="flex flex-row gap-x-2">
            @for (icon of link.icon; track icon; let i = $index) {
              <img [src]="icon" [alt]="['link.title_'+i]" [ngClass]="link.icon.length > 1 ? 'w-12 h-12' : 'w-14 h-14'">
            }
          </div>
          <span>{{link.title}}</span>
        </div>
      }
    </div>
  }

  <div class="flex flex-row justify-between">
    <span class="text-2xl">All Links</span>
    <app-search
      [tempArray]="tempLinks"
      (array)="searchFunc($event)"
    ></app-search>
  </div>

  <div class="flex flex-row flex-wrap gap-4">
    @for (link of links; track link) {
      <div class="styleLinkBlock w-[200px]" (click)="redirToLink(link.url); saveLink(link)">
        <div class="flex flex-row gap-x-2">
          @for (icon of link.icon; track icon; let i = $index) {
            <img [src]="icon" [alt]="['link.title_'+i]" [ngClass]="link.icon.length > 1 ? 'w-12 h-12' : 'w-14 h-14'">
          }
        </div>
        <span>{{link.title}}</span>
      </div>
    }
  </div>
</div>