<app-header-page></app-header-page>

<div class="flex flex-col gap-y-5 m-5">
  <details class="styleDetails">
    <summary>
      <span class="text-xl font-bold">Select the JSON file with the data</span>
    </summary>

    <div class="flex flex-col gap-y-3 mt-2">
      <app-file-input [typeFile]="typeFile" (dataFile)="setDataFile($event)"></app-file-input>
      <button class="styleBut w-max" (click)="createTable()">Create a table</button>
    </div>
  </details>

  <details class="styleDetails">
    <summary>
      <span class="text-xl font-bold">Insert JSON data</span>
    </summary>

    <div class="flex flex-col gap-y-3 mt-2">
      <textarea class="styleTextarea" (change)="setData($event)" rows="7"></textarea>
      <button class="styleBut w-max" (click)="createTable()">Create a table</button>
    </div>
  </details>

  @if (blockTable) {
    <div class="flex flex-col">
      <app-table [dataTable]="dataTable"></app-table>
    </div>
  }
</div>

<app-window-notify
  [dataNotify]="dataNotify"
></app-window-notify>