<div class="flex flex-col gap-y-5 w-full">
  <label class="styleLabel">Enter the data</label>
  <textarea class="styleField" (change)="setData($event)"></textarea>

  <div class="flex flex-row gap-x-2">
    <button class="styleBut" (click)="encode()">Encode</button>
    <button class="styleBut" (click)="decode()">Decode</button>
  </div>

  @if (outputText != '') {
    <div class="flex flex-col gap-y-2 styleBorderSolidLite border p-3">
      <span class="font-semibold text-xl">Results</span>
      <textarea class="styleTextarea" [value]="outputText"></textarea>
    </div>
  }
</div>

<app-window-notify
  [dataNotify]="dataNotify"
></app-window-notify>